<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/css/style.css" />
    <title><%= djs.name %> - <%=djs.sys.country %></title>
  </head>
  <body>
    <p><%= djs.name %> weather Now</p>
    <table>
      <tr>
        <td>Main weather</td>
        <td><%=djs.weather[0].main %></td>
      </tr>
      <tr>
        <td>Weather description</td>
        <td><%=djs.weather[0].description %></td>
      </tr>
      <tr>
        <td>Weather temp</td>
        <td><%=temp %></td>
      </tr>
    </table>
  </body>
</html>
